//Prefix
$prefix: 'progress-bar';

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-green: #64b25a;
$color-gray: #f7f7f7;
$color-gray-light: #ebebeb;
$color-gray-dark: #929292;

// Fonts
$font-primary: 'Arial';
